h1 {
    text-align: center;
}

.overview-checkout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px 40px 50px 40px;
    gap: 30px;
}

.login {
    display: grid;
    grid-row: 1;
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
}

.product-information {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: auto;
}

.guest {
    grid-row: 2;
    grid-column: 1;
}

.summary {
    display: grid;
    grid-row: 2;
    grid-column: 3;
    grid-template-columns: 1fr auto;
}

.subscribe {
    grid-row: 4;
    grid-column: 1/4;
}



.payment {
    grid-row: 3;
    grid-column: 1/4;
    display: grid;
    justify-self: center;
}

.product-information,
.summary,
.guest,
.payment,
.login {
    border: solid;
    padding: 5px;
    border-radius: 10px;
   
}


/*Log in Section*/

.log-in,
.sign-up {
    font-size: 1.5em;
    color: #003742;
    place-self: center;
}

.log-in {
    grid-row: 1;
    grid-column: 1;
}

.sign-up {
    grid-row: 1;
    grid-column: 2;
    text-decoration: none;
}

.login form {
    grid-row: 2;
    grid-column: 1/3;
    place-self: center;
    color: #003742;
}

.login input {
    border-radius: 50px;
    padding: 5px 0px;
    margin-right: 100px;
}

.cta {
    grid-row: 3;
    grid-column: 1/3;
    padding: 5px 80px;
    place-self: center;
}

.forgot-password {
    grid-row: 4;
    grid-column: 1;
    color: #003742;
    text-decoration: none;
}

p {
    text-transform: capitalize;
}

.login a,
.login form {
    margin: 15px;
}

/*Product information*/

.product-text {
    grid-column: 1;
    grid-row: 2;
    display: grid;
}

.product-image {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
}

.product-image img {
    width: 300px;
}

.product-text {
    align-self: center;
}

.product-information h2 {
    grid-column: 1/4;
    grid-row: 2;
    color: #003742;
    text-transform: capitalize;
}

.price {
    grid-column: 4;
    grid-row: 2;
    place-self: center;
}

.quantity {
    grid-column: 1;
    grid-row: 3;
}

.selector {
    grid-row: 3;
    grid-column: 2;
    align-self: center;
}

.color {
    grid-row: 4;
    grid-column: 1;
}

.size {
    grid-row: 5;
    grid-column: 1;
}

.delete {
    grid-row: 6;
    grid-column: 4;
}

.delete-icon {
    grid-row: 6;
    grid-column: 3;
    align-self: center;
    justify-self: right;
}

/* Delivery */

.guest h2 {
    color: #003742;
}

.guest-heading {
    text-align: center;
}


.guest input {
    border-radius: 50px;
    display: block;
    margin: 10px 0px;
    width: 250px;
}


/*Summary*/


.summary h2 {
    grid-row: 1;
    grid-column: 1;
    border-bottom: solid;
    border-bottom-width: thin;
    text-transform: capitalize;
    color: #003742;
}

.sub {
    grid-row: 2;
    grid-column: 1;
    padding: 10px 0px;
}

.amount {
    grid-row: 2;
    grid-column: 2;
    justify-self: right;
}

.shipping {
    grid-row: 3;
    grid-column: 1;
}

.free {
    grid-row: 3;
    grid-column: 2;
    justify-self: right;
}

.delivery {
    grid-row: 4;
    grid-column: 1;
    font-size: 0.8em;
    font-style: italic;
    border-bottom: solid;
    border-bottom-width: thin;
}

.total-shipping {
    grid-row: 5;
    grid-column: 1;
    padding-top: 10px;
}

.total {
    grid-row: 5;
    grid-column: 2;
    justify-self: right;
}

.tax {
    grid-row: 6;
    grid-column: 1;
    font-size: 0.8em;
    font-style: italic;
    border-bottom: solid;
    border-bottom-width: thin;
}

/* Payment details */

.payment h2 {
    color: #003742;
    grid-row: 1;
    grid-column: 1/4;
}

.type {
    grid-row: 2;
    grid-column: 1;
    color: #777777;
}

.visa {
    width: 30%;
    grid-row: 2;
    grid-column: 2;
    align-self: center;
}

.mastercard {
    width: 30%;
    grid-row: 2;
    grid-column: 3;
    align-self: center;
}

.name {
    grid-row: 4;
    grid-column: 1;
    color: #777777;
}

.actual-name {
    grid-row: 5;
    grid-column: 1;
    margin-top: 0px;
}

.card {
    grid-row: 6;
    grid-column: 1;
    color: #777777;
}

.card-number {
    grid-row: 7;
    grid-column: 1;
    text-transform: lowercase;
    margin-top: 0px;
}

.expiration {
    grid-row: 8;
    grid-column: 1;
    color: #777777;
}

.cvv {
    grid-row: 8;
    grid-column: 3;
}

.mm {
    grid-row: 9;
    grid-column: 1;
    margin-top: 0px;
}

.yyyy {
    grid-row: 9;
    grid-column: 2;
    margin-top: 0px;
}

.xxx {
    grid-row: 9;
    grid-column: 3;
    margin-top: 0px;
}

.payment .cta {
    grid-row: 10;
    grid-column: 1/4;
    margin: 30px 0px;
}

/*Newsletter*/

.newsletter {
    margin-top: 0px;
}