.product-overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.jacket {
    grid-row: 1;
    grid-column: 1;
}

.jacket img {
    width: 80%;
}

.product-information {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-rows: min-content min-content min-content min-content min-content;
    align-content: center;
}

h1 {
    grid-row: 1;
    grid-column: 1/3;
    font-size: 1.5em;
    margin: 0px;
    text-transform: capitalize;
}

.price {
    grid-row: 1;
    grid-column: 2;
    font-size: 1.5em;
    margin: 0px 40px 0px auto;
}

.color {
    grid-row: 2;
    grid-column: 1;
    display: grid;
}

.size {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.bag {
    grid-row: 3;
    grid-column: 1;
}

.favorite {
    grid-row: 3;
    grid-column: 2;
}

.description {
    grid-row: 4;
    grid-column: 1;
    font-size: 1em;
}

.first_paragraph {
    grid-row: 5;
    grid-column: 1/3;
    font-size: 0.8em;
    margin-right: 40px;
}

.second_paragraph {
    grid-row: 6;
    grid-column: 1/3;
    font-size: 0.8em;
    margin-right: 40px;
}

.description-text {
    display: none;
    margin: 0px 40px;
}
.title {
    grid-column: -1/1;
}

.cta {
    padding: 3px 20px;
    align-self: center;
    text-align: center;
    justify-self: center;
    margin: 20px 40px 20px 0px ;
}

.cta-size {
    padding: 3px 10px;
    align-self: center;
    text-align: center;
    margin: 5px 40px 5px 0px;
}

.blue {
    background-color: rgb(81, 164, 219);
}

.orange {
    background-color: coral;
}

.green {
    background-color: rgb(73, 211, 146);
}

.scrollbar h2 {
    color: #00778F;
    grid-column: -1/1;
    font-size: 1.5em;
    text-transform: capitalize;
}

.scrollbar {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: auto 40px;
    gap: 10px;
    padding: 20px 0px;
    margin-bottom: 20px;
}

.scrollbar-product {
    width: 100%;
}

.subscribe-button {
    margin-left: 40px;
    margin-right: 40px;
}