@font-face {
    font-family: 'Trebuchet MS';
    src: url("../fonts/TrebuchetMS.ttf") format("truetype");
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
    margin: 0%;
}

main {
    width: 100%;
    max-width: 1500px;
    margin: auto;
}

h1,
.newsletter {
    color: #00778F;
}

.top-border,
footer {
    background-color: #156a8246;
    color: #003742;
}

footer {
    padding: 15px;
    text-align: center;   
}

footer nav {
    display: none;
}

footer p {
    margin: 0px;
}

.back {
    margin-left: 23px;
    width: 50px;
}

.top-border {
    display: flex;  
}

.top-navigation {
    margin-left: auto;
    margin-right: 30px;
}

.top-border a,
footer a {
    color: #003742; 
}

.free-shipping {
    margin-left: 20px;
}

header p {
    margin-left: 10px;
    text-transform: capitalize;
}

.active {
    text-decoration: underline;
}

nav li {
    display: inline-block;
    margin: auto 10px;
}

nav ul {
    padding: 0px;
}

nav a {
    text-decoration: none;
}

.navigation a {
    color: #00778F;  
    padding: 10px 20px;
}

.form-wrapper {
     margin: auto 10px auto auto;
     display: inline-flex;
     grid-row: 1;
     grid-column: 3;
}

.form-wrapper > * {
    margin: 5px;
}

.favorites {
    grid-row: 1;
    grid-column: 4;
    align-self: center;
    margin-right: 10px;
}

.shopping_cart {
    grid-row: 1;
    grid-column: 5;
    align-self: center;
    margin-right: 40px;
}

.logo {
    width: 250px;
    margin: 15px 0px 15px 25px;
}

.navigation {
    display: grid;
    grid-column: 3;
    grid-template-columns: auto 1fr auto auto auto;
}

.navigation nav {
    margin: auto;
    font-size: 2em;
    grid-column: 2;
}

.search {
    border: none;
    background-color: #156a8246;
    border-radius: 50px;
    font-size: 1em;
    width: 200px;
} 

.search-icon {
    width: 130%;
}

.navigation-cta {
    display: none;
}

.newsletter {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 60px;
    font-size: 1.5em;
}

.subscribe-button {
    font-size: 1.5em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;   
}

.subscribe-label {
    background-color: #003742;
    border-radius: 50px 0px 0px 50px;
    padding: 5px;
}

.subscribe-input {
    border-radius: 0px 50px 50px 0px;
    width: 400px;
    border-color: #003742;
    font-size: 0.8em;
}