@font-face {
    font-family: 'Trebuchet MS';
    src: url("../fonts/TrebuchetMS.ttf") format("truetype");
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
    margin: 0%;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #00778F;
}

.top-border,
footer {
    background-color: #156a8246;
    color: #003742;
}

footer {
    padding: 15px;
    text-align: center;   
}

footer nav {
    display: none;
}

footer p {
    margin: 0px;
}

.top-border {
    display: flex;  
}

.top-navigation {
    margin-left: auto;
    margin-right: 35px;
}

.top-border a,
footer a {
    color: #003742; 
}

.shipping {
    margin-left: 40px;
}
header p {
    margin-left: 10px;
}

/*Home Page*/

nav li {
    display: inline-block;
    margin: auto 10px;
}

nav ul {
    padding: 0px;
}

 nav a {
    text-decoration: none;
}
 .navigation a {
    color: #00778F;  
    padding: 10px 20px;
}

 .form-wrapper {
     margin: auto 0px;
     display: inline-flex;
     grid-row: 1;
     grid-column: 3;
     margin-left: auto;
     margin-right: 10px;
}

 .form-wrapper > * {
    margin: 5px;
}

.favorites {
    grid-row: 1;
    grid-column: 4;
    align-self: center;
    margin-right: 10px;
}

.shopping_cart {
    grid-row: 1;
    grid-column: 5;
    align-self: center;
    margin-right: 40px;
}

.logo {
    max-width: 50%;
    margin: 15px 0px 15px 40px;
}

.navigation {
    display: grid;
    grid-column: 3;
    grid-template-columns: 1fr auto 1fr;
}

.navigation nav {
    margin: auto;
    font-size: 2em;
    grid-column: 2;
}

.search {
    border: none;
    background-color: #156a8246;
    border-radius: 10px;
    font-size: 1em;
    width: 200px;
} 

.search-icon {
    width: 130%;
}

.header-image {
    max-width: 100%;
}

.scrollbar a {
    color: #00778F;
    grid-column: -1/1;
    text-align: center;
    font-size: 2em;
}

.scrollbar {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: auto 40px;
    gap: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.scrollbar-product {
    width: 100%;
}

.newsletter {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 60px;
}

.subscribe {
    font-size: 2em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;   
}

.subscribe-label {
    background-color: #003742;
    border-radius: 20px 0px 0px 20px;
    padding: 5px;
}

.subscribe-input {
    border-radius: 0px 20px 20px 0px;
    width: 400px;
    border-color: #003742;
    font-size: 0.7em;
}

/* Media Queries*/ 

@media (max-width: 1100px) {
    .navigation {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr auto;
        margin-bottom: 5px;
    }

    .logo {
        grid-column: 9/1;
        grid-row: 1;
        margin-bottom: 20px;
        width: 20%;
        margin: 20px 0px 0px 0px;
        
    }

    .navigation nav {
        grid-column: 1;
        grid-row: 2;
        margin: unset;
        margin-right: auto;
    }

    .form-wrapper {
        grid-column: 3;
        grid-row: 2;
        height: 40px;
        align-self:center;
    }

    .favorites {
        grid-row: 2;
    }

    .shopping_cart {
        grid-row: 2;
    }
}

@media (max-width: 900px) {
    .top-navigation,
    header p,
    .shipping {
        display: none;
    }
    
    .navigation {
       display: grid;
       grid-column: 3;
       justify-items: center;
       margin-bottom: 20px;
    }
    .logo {
        grid-row: 1;
        grid-column: 1;
        width: 20%;
        margin: 20px 0px 0px 0px;
    }

    .navigation nav {
        grid-column: 1;
        grid-row: 2;
        font-size: 1.5em;
        margin: auto;
    }

    .form-wrapper {
        grid-row: 3;
        grid-column: 1;
        margin: unset;
        height: 40px;
    }

    .search {
        width: 250px;
    }

    .favorites {
        grid-row: 1;
        grid-column: 1;
        margin-left: auto;
        margin-right: 30px;
        margin-block-end: auto;
        margin-top: 5px;
    }

    .shopping_cart {
        grid-row: 1;
        grid-column: 1;
        margin-left: auto;
        margin-block-end: auto;
        margin-right: 5px;
        margin-top: 5px;
    }

    .scrollbar a,
    .newsletter {
        font-size: 1.5em;
    }

    .subscribe {
        font-size: 1em;
        margin: auto 30px 50px 30px;
    }

    footer nav {
        display: grid;
    }

    footer p {
        font-size: 0.5em;
    }
}

@media (max-width: 460px) {
    .navigation {
        margin-bottom: unset;
    }

    .logo {
        grid-row: 1;
        grid-column: 1;
        width: 40%;
    }

    .navigation nav {
        grid-row: 2;
        grid-column: 1;
        font-size: 1em;
        margin: auto;
    }

    .navigation a {
        padding: unset;
    }

    .form-wrapper {
        grid-row: 1;
        grid-column: 1;
        width: 26px;
        justify-self: end;
        align-self: unset;
        margin-right: 55px;
    }

    .search {
        display: none;
    }

    .favorites {
        width: 20px;
    }

    .shopping_cart {
        width: 20px;
    }

    main {
        font-size: 0.7em;
    }

    .scrollbar {
        margin: unset;
    }

    .newsletter {
        margin-top: 30px;
    }

    .subscribe {
        margin: 0px 30px 20px 30px;
    }

    footer a {
        font-size: 0.7em;
        padding: 10px 5px;
    }

    footer p {
        font-size: 0.5em;
    }

    footer nav li {
        margin-left: 0px;
    }

    footer nav ul {
        margin: 0px auto 5px auto;
    }
}